<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>


<%= form_for @user do |f| %>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>

    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </p>

  <p>
    <%= f.label :gender %>
    <%= f.select(:gender, ['Male', 'Female']) %>

    <%= f.label :preference %>
    <%= f.select(:preference, ['Male', 'Female']) %>

    <%= f.label :birthday %>
    <%= f.date_field :birthday %>

    <%= f.label :suburb %>
    <%= f.text_field :suburb %>
  </p>

  <p>
    <%= f.label :cuisines %>
    <%= f.text_field :cuisines%>

    <%= f.label :hobbies %>
    <%= f.text_field :hobbies %>

    <%= f.label :about %>
    <%= f.text_field :about %>

    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>

  <%= f.submit %>
<% end %>