<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ol>
<% end %>


<%= form_for @user do |f| %>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email, :autofocus => true %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, 'Confirm Password' %>
    <%= f.password_field :password_confirmation %>
  </p>
  <hr>
  <p>
    <%= f.label :firstname, 'First Name' %>
    <%= f.text_field :firstname %>
  </p>

  <p>
    <%= f.label :lastname, 'Surname' %>
    <%= f.text_field :lastname %>
  </p>
  <hr>
  <p>
    <%= f.label :gender %>
    <%= f.select(:gender, ['Male', 'Female']) %>
  </p>

  <p>
    <%= f.label :preference %>
    <%= f.select(:preference, ['Male', 'Female']) %>
  </p>

  <p>
    <%= f.label :birthday, 'Date of Birth' %>
    <%= f.date_field :birthday %>
  </p>

  <p>
    <%= f.label :suburb %>
    <%= f.text_field :suburb %>
  </p>
  <hr>
  <p>
    <%= f.label :cuisines, 'Favorite Cuisine' %>
    <%= f.text_field :cuisines%>
  </p>

  <p>
    <%= f.label :hobbies %>
    <%= f.text_field :hobbies %>
  </p>

  <p>
    <%= f.label :about %>
    <%= f.text_field :about %>
  </p>

  <p>
    <%= f.label :image, 'Image URL' %>
    <%= f.url_field :image %>
  </p>
  <hr>
  <%= f.submit %>
<% end %>