<h2><%= @user.firstname %>'s Profile</h2>

<div class='box'>
  <h3><%= @user.firstname %></h3>
  <p>Gender: <%= @user.gender %></p>
  <p>Favorite Cuisines: <%= @user.cuisines %></p>
  <p>Hobbies: <%= @user.hobbies %></p>
  <p>About: <%= @user.about %></p>

  <% if @current_user == @user %>
  <% elsif @chat.present? %>
    <p><%= link_to('Continue Chat', chat_path(@chat), :class => 'match') %></p>
  <% else %>
    <p><%= link_to('Start Chat', new_chat_path(@user.id), :class => 'match') %></p>
  <% end %>
</div>

<%= image_tag(@user.image, :class => 'bigbox') %>