<h2>View Profile</h2>
<div class='box'>
  <h3><%= @user.firstname %></h3>
  <p>Gender: <%= @user.gender %></p>
  <p>Favorite Cuisines: <%= @user.cuisines %></p>
  <p>Hobbies: <%= @user.hobbies %></p>
  <p>About: <%= @user.about %></p>

  <% if @chat.present? %>
    <p><%= link_to('Chat', chat_path(@chat), :class => 'top') %></p>
  <% else %>
    <p><%= link_to('Chat', new_chat_path(@user.id), :class => 'top') %></p>
  <% end %>
</div>

<%= image_tag(@user.image, :class => 'bigbox') %>