<h2>View Profile</h2>
<p>Name: <%= @user.firstname %></p>
<p>Gender: <%= @user.gender %></p>
<p>Favorite Cuisines: <%= @user.cuisines %></p>
<p>Hobbies: <%= @user.hobbies %></p>
<p>About: <%= @user.about %></p>
<p><%= image_tag(@user.image) %></p>
<p><%= link_to('Start Chat', new_chat_path) %></p>
<p><% @chat1.each do |chat| %>
    <li><%= link_to('Chat with ' + (User.find_by :id => (@chat1.first.user2_id)).firstname, chat_path(chat)) %></li>
  <% end %>
  <% @chat2.each do |chat| %>
    <li><%= link_to('Chat with ' + (User.find_by :id => (@chat2.first.user1_id)).firstname, chat_path(chat)) %></li>
  <% end %>
</p>