<h2>View Profile</h2>
<p>Name: <%= @user.firstname %></p>
<p>Gender: <%= @user.gender %></p>
<p>Favorite Cuisines: <%= @user.cuisines %></p>
<p>Hobbies: <%= @user.hobbies %></p>
<p>About: <%= @user.about %></p>
<p><%= image_tag(@user.image) %></p>

<% if @chat.present? %>
  <p><%= link_to('Continue Chat', chat_path(@chat)) %></p>
<% else %>
  <p><%= link_to('Start Chatting', new_chat_path(@user.id)) %></p>
<% end %>

