<h2>Make A Date</h2>

<% count = 0 %>

<% @restaurants.each do |x, y| %>

  <% if count % 3 == 0 %>
    <h2><%= @suggestions.shift %></h2>
  <% end %>
  <% count += 1 %>

  <div class='box'>
    <%= x %><br>
    <%= y %>
    <iframe
      width="250"
      height="225"
      frameborder="0" style="border:0"
      src="<%= "https://www.google.com/maps/embed/v1/search?key=AIzaSyDzMn29qnBUFN4FUuepeyzhSbQo1J9lkvo&q=" + x.gsub(" ", "+").gsub("&", "") %>">
    </iframe>
  </div>
<% end %>
<!-- <%= @error if @error.present? %> -->

