<h2>Chat with <%= @user1.firstname %> and <%= @user2.firstname %></h2>
<div class='match'><%= link_to('Make A Date', match_path ) %></div>

<div class='chat'>
  <% @messages.each do |msg| %>
    <p><%= msg.username %>: <%= msg.messages %></p>
  <% end %>

  <form action="/chats/<%=@chat.id%>" method="post">
    <label for="messages"></label>
    <textarea type="text" rows="3" cols='50' id="messages" name="messages" placeholder="Post..."></textarea>

    <button>Send</button>
  </form>
</div>