<h2>Chat</h2>
<h3><%= @user1.firstname %> and <%= @user2.firstname %></h3>

<div class='chat'>
  <% @messages.each do |msg| %>
    <p><%= msg.username %>: <%= msg.messages %></p>
  <% end %>

  <form action="/chats/<%=@chat.id%>" method="post">
    <label for="messages"></label>
    <textarea type="text" rows="3" id="messages" name="messages" placeholder="Post..."></textarea>

    <button>Send</button>
  </form>
</div>